
*{
    background-color: rgb(180, 173, 187);
}
p{
    text-align:center;
}
#h2{
    font-family:'Hubballi' , sans-serif;
    font-size: large;
    text-align: left;
    color:rgb(83, 75, 75);

}
#img01{
    width: 200px;
    border-radius: 100px;
}

#paragraph1{
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: larger;
    color: greenyellow;
    background-color:blue;
    padding: 10px;
    margin: 20px;
    border: 15px;
    width: 350px;
    height: 105px;
    overflow: auto;
    
}
a{
    color:rgb(167,1,78);
    text-decoration: none;
    cursor: hand;
}
a:hover{
    font-size: large;
   
    background-attachment: red;
}

.a:hover{
    background-color: red;
    text-decoration: none;
}

#h12{
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Yanone Kaffeesatz', serif;
    font-size: 150%;

}
