h1 {
    font-family:'Hubballi' , sans-serif;
    font-size: large;
    text-align: center;
    color:rgb(83, 75, 75);

}

#paragraph1{
    font-family: sans-serif;
    text-align: center;
    color:rgb(38, 149, 168);
    font-weight: bold;
    font-size: 40px;
}
a{
    color:rgb(167,1,78);
    text-decoration: none;
    cursor: hand;
}
a:hover{
    font-size: large;
    text-decoration: underline;
}